.resumeSection {
    padding: 20px;
  }
  
  .pdfContainer {
    width: 100%;
    max-width: 800px;  
    margin: 0 auto 70px auto;    
    height:80vh;; 
    overflow-x: hidden; 
    overflow-y: hidden;
  }
 
  .pdfContainer .drive-viewer-toolbar {
    display: none !important; 
  }
  
  .pdfContainer .drive-viewer-page-numbers {
    display: none !important; 
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none; 
  }
  